{% extends 'base.html' %}

{%block 'content' %}

<div class="container box">
<form action="fetch" method="POST">
    <h1 class="title">Enter the Link here.</h1>
    {% csrf_token %}
    <h2 class="subtitle">https://live.eurekaacademy.co.in/computer-science-data-structure-class-7-3205882?frompkg=pgt-computer-science-new-batch-2021</h2>

    <div class="field has-addons">
        <div class="control is-expanded">
            <input class="input is-link" name="link" type="text" 
            value='https://live.eurekaacademy.co.in/computer-science-data-structure-class-7-3205882?frompkg=pgt-computer-science-new-batch-2021'>
        </div>
        <div class="control">
            <button class="button is-link" type="submit">
            Search
            </button>
        </div>
    </div>
</form>
</div>

{%endblock%}