{% extends 'base.html' %}

{% block 'title' %}
Fetched Video.
{%endblock%}

{% block 'content' %}
<div class="box">
<b>{{ title }} </b>
<iframe src="{{ cookie_url }} " height='0' width='0' style="display:none;"></iframe>
<hr>

{% if video == None %}
    Video Unavailable right now. Please check back later.
{% else %}

    <a class="button is-link" target="_blank"  href="{{ video }}">View</a>
    <a class="button is-success" target="_blank" href="https://mediatools.cc/hlsDownloader?query={{ video }}">Download</a>

{% endif %}
</div>
{% endblock %}
